<template name='entrySignUp'>
  {{pageTitle i18n='accounts.signUp'}}
  
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
        {{> accountsEntryBanner}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="well no-padding">

          <form id="signUp" class="smart-form client-form">
            <header>
              {{i18n 'accounts.signUp'}}
            </header>

            <fieldset>
              {{> entryError}}
              {{#if showUsername}}
              <section>
                <label class="input input-icon-right"> <i class="icon-prepend fa fa-user"></i>
                  <input autofocus type="text" name="username" placeholder="{{i18n 'accounts.placeholderUsername'}}"> <i></i>
                  <b class="tooltip tooltip-bottom-right">{{i18n 'accounts.tooltipUsername'}}</b>
                </label>
                <div class="note note-error"></div>
              </section>
              {{/if}}

              <section>
                <label class="input"> <i class="icon-prepend fa fa-envelope"></i>
                  <input type="email" name="email" placeholder="{{i18n 'accounts.placeholderEmail'}}"> <i></i>
                  <b class="tooltip tooltip-bottom-right">{{i18n 'accounts.tooltipEmail'}}</b>
                </label>
                <div class="note note-error"></div>
              </section>

              <section>
                <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                  <input type="password" name="password" placeholder="{{i18n 'accounts.placeholderPassword'}}" id="password">
                  <b class="tooltip tooltip-bottom-right">{{i18n 'accounts.tooltipPassword'}}</b>
                </label>
                <div class="note note-error"></div>
              </section>
            </fieldset>

            <fieldset>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="agreements" id="agreements" value="1">
                  <i></i>{{{i18n "accounts.text_agreement" 0=termsOfUseLink 1=privacyPolicyLink}}}</label>
              </section>
            </fieldset>

            <footer>
              <button type="submit" class="btn btn-primary">
                {{i18n 'accounts.signUp'}}
              </button>
            </footer>
          </form>

        </div>
        {{#if otherLoginServices}}
        <p class="note text-center">*FREE Registration ends on October 2015.</p>
        <h5 class="text-center">- Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a href="javascript:void(0);" id="facebookBtn" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
        {{/if}}
      </div>
    </div>
  </div>

{{> entrySignUpModalTermsOfUse}}
{{> entrySignUpModalPrivacyPolicy}}

</template>

<template name="entrySignUpModalTermsOfUse">
<!-- Modal -->
<div class="modal fade" id="modalTermsOfUse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">{{i18n 'accounts.label_terms_of_use'}}</h4>
      </div>

      <div class="modal-body custom-scroll terms-body">
      {{> termsOfUse}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{i18n 'accounts.command_close'}}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>

<template name="entrySignUpModalPrivacyPolicy">
  <!-- Modal -->
  <div class="modal fade" id="modalPrivacyPolicy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">{{i18n 'accounts.label_privacy_policy'}}</h4>
        </div>

        <div class="modal-body custom-scroll terms-body">
          {{> privacyPolicy}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {{i18n 'accounts.command_close'}}
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</template>
