<template name='entryResetPassword'>
  {{pageTitle i18n='accounts.title_renew_password'}}
  <header id="header">
    {{> accountsLogo}}
    <span id="extr-page-header-space"> <span class="hidden-mobile">{{i18n "accounts.ifYouAlreadyHaveAnAccount"}}</span> <a href="{{pathFor 'entrySignIn'}}" class="btn btn-danger">{{i18n "accounts.signIn"}}</a> </span>
  </header>

  <div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
      <div class="well no-padding">
        <form id="resetPassword" class="smart-form client-form">
          <header>
            {{i18n 'accounts.title_renew_password'}}
          </header>

          <fieldset>
            {{> entryError}}
            <section>
              <label class="label">{{i18n 'accounts.label_password'}}</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <input type="password" name="password" value=''>
                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> {{i18n 'accounts.tooltipPassword'}}</b></label>
            </section>

            <section>
              <label class="label">{{i18n 'accounts.label_password_confirm'}}</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <input type="password" name="password-confirm" value=''>
                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> {{i18n 'accounts.tooltipPassword'}}</b></label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              {{i18n 'accounts.command_save'}}
            </button>
          </footer>
        </form>

      </div>
    </div>

  </div>
</template>
