<template name='entryForgotPassword'>
  <header id="header">
    {{> accountsLogo}}
    <span id="extr-page-header-space"> <span class="hidden-mobile">{{i18n "accounts.dontHaveAnAccount"}}</span> <a href="{{pathFor 'entrySignUp'}}" class="btn btn-danger">{{i18n "accounts.signUp"}}</a> </span>

  </header>

  <div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
          <div class="hero">

            <div class="pull-left login-desc-box-l">
              <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
              <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
              </div>
            </div>

            <img src="img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
              </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">Not just your average template!</h5>
              <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
              </p>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <form id="forgotPassword" class="smart-form client-form">
              <header>
                {{i18n 'accounts.forgotPassword'}}
              </header>

              <fieldset>
                {{> entryError}}
                <section>
                  <label class="label">{{i18n 'accounts.emailAddress'}}</label>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="email" name="forgottenEmail">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
                </section>
                <!-- section>
										<span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span></span>
                </section>
                <section>
                  <label class="label">Your Username</label>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input type="text" name="username">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>
                  <div class="note">
                    <a href="login.html">I remembered my password!</a>
                  </div>
                </section -->

              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-refresh"></i> {{i18n 'accounts.command_resetPassword'}}
                </button>
              </footer>
            </form>

          </div>

        </div>
      </div>
    </div>

  </div>






  <div class="container">
    <div class="row">
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry col-md-4 col-md-offset-4">
        {{#if error}}
          <div class='alert alert-danger'>{{error}}</div>
        {{/if}}
        <h3>{{i18n 'accounts.forgotPassword'}}</h3>
        <form id='aforgotPassword'>
          <div class="form-group">
            <input type="email" name="forgottenEmail" class="form-control" placeholder="{{i18n 'accounts.emailAddress'}}" value=''>
          </div>
          <button type="submit" class="btn btn-default">{{i18n 'accounts.emailResetLink'}}</button>
        </form>
        {{#if showSignupCode}}
          <p class="entry-signup-cta">{{i18n 'accounts.dontHaveAnAccount'}} <a href="/sign-up">{{i18n 'accounts.signUp'}}</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</template>

