<template name='entryForgotPassword'>
  {{pageTitle i18n='accounts.forgotPassword'}}

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

        {{> accountsEntryBanner}}

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form id="forgotPassword" class="smart-form client-form">
            <header>
              {{i18n 'accounts.forgotPassword'}}
            </header>

            <fieldset>
              {{> entryError}}
              <section>
                <label class="label">{{i18n 'accounts.emailAddress'}}</label>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="forgottenEmail">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> {{i18n 'accounts.text_input_email_address'}}</b></label>
              </section>
              <!-- section>
									<span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span></span>
              </section>
              <section>
                <label class="label">Your Username</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>
                <div class="note">
                  <a href="login.html">I remembered my password!</a>
                </div>
              </section -->

            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-refresh"></i> {{i18n 'accounts.command_resetPassword'}}
              </button>
            </footer>
          </form>

        </div>

      </div>
    </div>
  </div>
</template>

